n8n/workflows/kb-answer-blueprint.json
{
  "name": "KB - Telegram Bot Polling",
  "nodes": [
    {
      "parameters": {},
      "id": "f37e17fb-6ca0-4083-9f65-7f1bf80ff9f6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/1 * * * *"
            }
          ]
        }
      },
      "id": "c0de549e-6a49-4996-9d97-31f1ac8db2f4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1080,
        80
      ],
      "notesInFlow": true,
      "notes": "Polls Telegram once per minute. getUpdates does not require public inbound access to n8n."
    },
    {
      "parameters": {
        "jsCode": "const env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst token = String(env.TELEGRAM_BOT_TOKEN ?? '').trim();\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nconst lastUpdateId = Number(staticData.telegram_last_update_id);\nconst request = { limit: 1, timeout: 0, allowed_updates: ['message', 'edited_message'] };\nif (Number.isSafeInteger(lastUpdateId) && lastUpdateId >= 0) {\n  request.offset = lastUpdateId + 1;\n} else {\n  request.offset = -1;\n}\nreturn [{ json: { telegram_poll_enabled: Boolean(token), telegram_skip_reason: token ? null : 'Missing Telegram runtime configuration: TELEGRAM_BOT_TOKEN', telegram_bot_token: token, telegram_poll_request: request, telegram_first_poll_drops_backlog: request.offset === -1 } }];"
      },
      "id": "telegram-build-poll",
      "name": "Build Telegram Poll Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_poll_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "telegram-should-poll",
      "name": "Should Poll Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -500,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/getUpdates' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_poll_request) }}",
        "options": {}
      },
      "id": "52c57af8-d95b-4d95-bccb-2cbb2258a6e3",
      "name": "Call Telegram getUpdates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        80
      ],
      "notesInFlow": true,
      "notes": "Uses outbound polling, so n8n does not need to be reachable from the public internet. Delete any Telegram webhook for this bot first."
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst response = raw.body ?? raw;\nif (response.ok === false) {\n  throw new Error('Telegram getUpdates failed: ' + (response.description ?? 'unknown error'));\n}\nconst updates = Array.isArray(response.result) ? response.result : [];\nif (!updates.length) return [];\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst allowedTelegramChatId = String(env.TELEGRAM_CHAT_ID || '').trim();\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nconst update = updates[0];\nconst message = update.message ?? update.edited_message ?? null;\nconst chatId = message?.chat?.id !== undefined ? String(message.chat.id) : '';\nconst text = (typeof message?.text === 'string' ? message.text.trim() : '') || (typeof message?.caption === 'string' ? message.caption.trim() : '');\nfunction markProcessed() { if (Number.isSafeInteger(Number(update.update_id))) staticData.telegram_last_update_id = Number(update.update_id); }\nfunction telegramCommand(value) { const match = value.match(/^\\/(\\w+)(?:@\\w+)?(?:\\s|$)/); return match ? match[1].toLowerCase() : 'ask'; }\nif (!message || !text) { markProcessed(); return []; }\nif (allowedTelegramChatId && chatId !== allowedTelegramChatId) { markProcessed(); return []; }\nconst command = telegramCommand(text);\nif (!['ask', 'answer', 'query', 'ingest', 'search', 'reindex', 'healthcheck', 'reclassify'].includes(command)) { markProcessed(); return []; }\nreturn [{ json: { body: update, telegram_polled: true, telegram_command: command } }];"
      },
      "id": "telegram-prepare-updates",
      "name": "Prepare Telegram Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        80
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node /app/dist/tools/bot-lock.js acquire --vault /data/vault --name telegram-bot --owner \" + JSON.stringify(\"telegram-update-\" + $json.body.update_id) + \" --ttl-ms \" + JSON.stringify($env.TELEGRAM_BOT_LOCK_TTL_MS || \"1800000\") }}",
        "executeOnce": true
      },
      "id": "telegram-acquire-lock",
      "name": "Acquire Bot Lock",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) throw new Error('bot-lock acquire returned empty stdout');\nconst lock = JSON.parse(stdout);\nif (!lock.acquired) return [];\nconst update = $node['Prepare Telegram Updates'].json;\nreturn [{ json: { ...update, telegram_lock_acquired: true, telegram_lock_id: lock.lock_id, telegram_lock: lock } }];"
      },
      "id": "telegram-parse-lock",
      "name": "Parse Bot Lock Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telegram_command }}",
              "value2": "ingest"
            }
          ]
        }
      },
      "id": "telegram-is-ingest",
      "name": "Is Telegram Ingest Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst payload = {\n  ...body,\n  telegram_polled: Boolean(input.telegram_polled),\n  telegram_command: input.telegram_command ?? body.telegram_command ?? null,\n  telegram_lock_acquired: Boolean(input.telegram_lock_acquired),\n  telegram_lock_id: input.telegram_lock_id ?? body.telegram_lock_id ?? null\n};\nreturn [{\n  json: {\n    ...payload,\n    payload_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "answer-build-payload",
      "name": "Build Answer Run Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        260
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.payload_b64) + \" | node /app/dist/tools/answer-run.js --vault /data/vault --compact\" }}",
        "executeOnce": true
      },
      "id": "answer-run",
      "name": "Run answer-run.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1480,
        260
      ],
      "notesInFlow": true,
      "notes": "Runs the answer macro: search, context, LLM answer, answer record, and feedback proposal."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('answer-run.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "answer-parse-run",
      "name": "Parse Answer Run Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "answer-should-send",
      "name": "Should Send Telegram Answer Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_message) }}",
        "options": {}
      },
      "id": "answer-send-telegram",
      "name": "Send Telegram Answer Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        160
      ],
      "notesInFlow": true,
      "notes": "Sends a plain-text Telegram message through Bot API. Requires TELEGRAM_BOT_TOKEN and a chat id.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = ($node['Parse Answer Run Result'] && $node['Parse Answer Run Result'].json) ? $node['Parse Answer Run Result'].json : $json;\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nif (data.telegram_polled && Number.isSafeInteger(Number(data.telegram_update_id))) {\n  staticData.telegram_last_update_id = Number(data.telegram_update_id);\n}\nreturn [{ json: data }];"
      },
      "id": "answer-finalize",
      "name": "Finalize Answer Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        260
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.telegram_lock_id ? \"node /app/dist/tools/bot-lock.js release --vault /data/vault --name telegram-bot --lock-id \" + JSON.stringify($json.telegram_lock_id) : \"node -e \" + JSON.stringify(\"process.stdout.write(JSON.stringify({ status: 'skipped', released: false }) + '\\n')\") }}",
        "executeOnce": true
      },
      "id": "answer-release-lock",
      "name": "Release Bot Lock After Answer",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2920,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst payload = {\n  ...body,\n  telegram_polled: Boolean(input.telegram_polled),\n  telegram_command: input.telegram_command ?? body.telegram_command ?? null,\n  telegram_lock_acquired: Boolean(input.telegram_lock_acquired),\n  telegram_lock_id: input.telegram_lock_id ?? body.telegram_lock_id ?? null\n};\nreturn [{\n  json: {\n    ...payload,\n    payload_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "ingest-build-payload",
      "name": "Build Ingest Run Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        -100
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.payload_b64) + \" | node /app/dist/tools/ingest-run.js --vault /data/vault --compact\" }}",
        "executeOnce": true
      },
      "id": "ingest-run",
      "name": "Run ingest-run.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1480,
        -100
      ],
      "notesInFlow": true,
      "notes": "Runs the ingest macro, including YouTube transcript extraction for /ingest commands."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('ingest-run.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "ingest-parse-run",
      "name": "Parse Ingest Run Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "ingest-should-send",
      "name": "Should Send Telegram Ingest Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_message) }}",
        "options": {}
      },
      "id": "ingest-send-telegram",
      "name": "Send Telegram Ingest Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        -200
      ],
      "notesInFlow": true,
      "notes": "Sends a plain-text Telegram message through Bot API. Requires TELEGRAM_BOT_TOKEN and a chat id.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = ($node['Parse Ingest Run Result'] && $node['Parse Ingest Run Result'].json) ? $node['Parse Ingest Run Result'].json : $json;\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nif (data.telegram_polled && Number.isSafeInteger(Number(data.telegram_update_id))) {\n  staticData.telegram_last_update_id = Number(data.telegram_update_id);\n}\nreturn [{ json: data }];"
      },
      "id": "ingest-finalize",
      "name": "Finalize Ingest Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -100
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.telegram_lock_id ? \"node /app/dist/tools/bot-lock.js release --vault /data/vault --name telegram-bot --lock-id \" + JSON.stringify($json.telegram_lock_id) : \"node -e \" + JSON.stringify(\"process.stdout.write(JSON.stringify({ status: 'skipped', released: false }) + '\\n')\") }}",
        "executeOnce": true
      },
      "id": "ingest-release-lock",
      "name": "Release Bot Lock After Ingest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2920,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telegram_command }}",
              "value2": "search"
            }
          ]
        }
      },
      "id": "telegram-is-search",
      "name": "Is Telegram Search Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst payload = {\n  ...body,\n  telegram_polled: Boolean(input.telegram_polled),\n  telegram_command: input.telegram_command ?? body.telegram_command ?? null,\n  telegram_lock_acquired: Boolean(input.telegram_lock_acquired),\n  telegram_lock_id: input.telegram_lock_id ?? body.telegram_lock_id ?? null\n};\nreturn [{\n  json: {\n    ...payload,\n    payload_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "search-build-payload",
      "name": "Build Search Run Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.payload_b64) + \" | node /app/dist/tools/search-run.js --vault /data/vault --compact\" }}",
        "executeOnce": true
      },
      "id": "search-run",
      "name": "Run search-run.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1480,
        420
      ],
      "notesInFlow": true,
      "notes": "Runs hybrid search (falls back to FTS when semantic index is unavailable) and formats results for Telegram."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('search-run.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "search-parse-run",
      "name": "Parse Search Run Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "search-should-send",
      "name": "Should Send Telegram Search Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_message) }}",
        "options": {}
      },
      "id": "search-send-telegram",
      "name": "Send Telegram Search Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        320
      ],
      "notesInFlow": true,
      "notes": "Sends search results as a plain-text Telegram message. Requires TELEGRAM_BOT_TOKEN and a chat id.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = ($node['Parse Search Run Result'] && $node['Parse Search Run Result'].json) ? $node['Parse Search Run Result'].json : $json;\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nif (data.telegram_polled && Number.isSafeInteger(Number(data.telegram_update_id))) {\n  staticData.telegram_last_update_id = Number(data.telegram_update_id);\n}\nreturn [{ json: data }];"
      },
      "id": "search-finalize",
      "name": "Finalize Search Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        420
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.telegram_lock_id ? \"node /app/dist/tools/bot-lock.js release --vault /data/vault --name telegram-bot --lock-id \" + JSON.stringify($json.telegram_lock_id) : \"node -e \" + JSON.stringify(\"process.stdout.write(JSON.stringify({ status: 'skipped', released: false }) + '\\n')\") }}",
        "executeOnce": true
      },
      "id": "search-release-lock",
      "name": "Release Bot Lock After Search",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2920,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telegram_command }}",
              "value2": "reindex"
            }
          ]
        }
      },
      "id": "telegram-is-reindex",
      "name": "Is Telegram Reindex Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        580
      ]
    },
    {
      "parameters": {
        "command": "node /app/dist/tools/reindex.js --vault /data/vault --compact",
        "executeOnce": true
      },
      "id": "reindex-run",
      "name": "Run reindex.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1480,
        580
      ],
      "notesInFlow": true,
      "notes": "Rebuilds the FTS index from the current wiki markdown state."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) throw new Error('reindex returned empty stdout');\nconst result = JSON.parse(stdout);\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst token = String(env.TELEGRAM_BOT_TOKEN ?? '').trim();\nconst chatId = String(env.TELEGRAM_CHAT_ID ?? '').trim();\nconst orig = $node['Parse Bot Lock Result'].json;\nconst msgChatId = chatId || String(orig.body?.message?.chat?.id ?? '');\nconst telegramEnabled = Boolean(token && msgChatId);\nconst text = `✅ Reindex completado\\nIndexados: ${result.indexed} docs`;\nreturn [{ json: {\n  ...result,\n  telegram_polled: Boolean(orig.telegram_polled),\n  telegram_update_id: orig.body?.update_id ?? null,\n  telegram_lock_id: orig.telegram_lock_id ?? null,\n  telegram_enabled: telegramEnabled,\n  telegram_bot_token: token,\n  telegram_message: telegramEnabled ? { chat_id: msgChatId, text } : null\n} }];"
      },
      "id": "reindex-parse-run",
      "name": "Parse Reindex Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "reindex-should-send",
      "name": "Should Send Telegram Reindex Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_message) }}",
        "options": {}
      },
      "id": "reindex-send-telegram",
      "name": "Send Telegram Reindex Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = ($node['Parse Reindex Result'] && $node['Parse Reindex Result'].json) ? $node['Parse Reindex Result'].json : $json;\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nif (data.telegram_polled && Number.isSafeInteger(Number(data.telegram_update_id))) {\n  staticData.telegram_last_update_id = Number(data.telegram_update_id);\n}\nreturn [{ json: data }];"
      },
      "id": "reindex-finalize",
      "name": "Finalize Reindex Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        580
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.telegram_lock_id ? \"node /app/dist/tools/bot-lock.js release --vault /data/vault --name telegram-bot --lock-id \" + JSON.stringify($json.telegram_lock_id) : \"node -e \" + JSON.stringify(\"process.stdout.write(JSON.stringify({ status: 'skipped', released: false }) + '\\n')\") }}",
        "executeOnce": true
      },
      "id": "reindex-release-lock",
      "name": "Release Bot Lock After Reindex",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2920,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telegram_command }}",
              "value2": "healthcheck"
            }
          ]
        }
      },
      "id": "telegram-is-healthcheck",
      "name": "Is Telegram Healthcheck Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        740
      ]
    },
    {
      "parameters": {
        "command": "node /app/dist/tools/health-check.js --vault /data/vault --compact",
        "executeOnce": true
      },
      "id": "healthcheck-run",
      "name": "Run health-check.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1480,
        740
      ],
      "notesInFlow": true,
      "notes": "Runs broken-link resolution, new-link discovery, and synonym merge."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) throw new Error('health-check returned empty stdout');\nconst result = JSON.parse(stdout);\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst token = String(env.TELEGRAM_BOT_TOKEN ?? '').trim();\nconst chatId = String(env.TELEGRAM_CHAT_ID ?? '').trim();\nconst orig = $node['Parse Bot Lock Result'].json;\nconst msgChatId = chatId || String(orig.body?.message?.chat?.id ?? '');\nconst telegramEnabled = Boolean(token && msgChatId);\nconst text = `🏥 Health Check\\n${result.summary ?? JSON.stringify(result)}`;\nreturn [{ json: {\n  ...result,\n  telegram_polled: Boolean(orig.telegram_polled),\n  telegram_update_id: orig.body?.update_id ?? null,\n  telegram_lock_id: orig.telegram_lock_id ?? null,\n  telegram_enabled: telegramEnabled,\n  telegram_bot_token: token,\n  telegram_message: telegramEnabled ? { chat_id: msgChatId, text } : null\n} }];"
      },
      "id": "healthcheck-parse-run",
      "name": "Parse Healthcheck Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "healthcheck-should-send",
      "name": "Should Send Telegram Healthcheck Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_message) }}",
        "options": {}
      },
      "id": "healthcheck-send-telegram",
      "name": "Send Telegram Healthcheck Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = ($node['Parse Healthcheck Result'] && $node['Parse Healthcheck Result'].json) ? $node['Parse Healthcheck Result'].json : $json;\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nif (data.telegram_polled && Number.isSafeInteger(Number(data.telegram_update_id))) {\n  staticData.telegram_last_update_id = Number(data.telegram_update_id);\n}\nreturn [{ json: data }];"
      },
      "id": "healthcheck-finalize",
      "name": "Finalize Healthcheck Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        740
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.telegram_lock_id ? \"node /app/dist/tools/bot-lock.js release --vault /data/vault --name telegram-bot --lock-id \" + JSON.stringify($json.telegram_lock_id) : \"node -e \" + JSON.stringify(\"process.stdout.write(JSON.stringify({ status: 'skipped', released: false }) + '\\n')\") }}",
        "executeOnce": true
      },
      "id": "healthcheck-release-lock",
      "name": "Release Bot Lock After Healthcheck",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2920,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telegram_command }}",
              "value2": "reclassify"
            }
          ]
        }
      },
      "id": "telegram-is-reclassify",
      "name": "Is Telegram Reclassify Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        900
      ]
    },
    {
      "parameters": {
        "command": "node /app/dist/tools/reclassify-by-links.js --vault /data/vault --compact",
        "executeOnce": true
      },
      "id": "reclassify-run",
      "name": "Run reclassify-by-links.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1480,
        900
      ],
      "notesInFlow": true,
      "notes": "Re-classifies concepts with >3 outbound links as topics, and topics with ≤3 links as concepts."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) throw new Error('reclassify-by-links returned empty stdout');\nconst result = JSON.parse(stdout);\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst token = String(env.TELEGRAM_BOT_TOKEN ?? '').trim();\nconst chatId = String(env.TELEGRAM_CHAT_ID ?? '').trim();\nconst orig = $node['Parse Bot Lock Result'].json;\nconst msgChatId = chatId || String(orig.body?.message?.chat?.id ?? '');\nconst telegramEnabled = Boolean(token && msgChatId);\nconst moved = Array.isArray(result.moved) ? result.moved.length : 0;\nconst lines = moved > 0\n  ? [`🔀 Reclasificación completada`, `Movidas: ${moved} notas`, ...result.moved.slice(0, 5).map(m => `• ${m.from} → ${m.to} (${m.links} links)`)]\n  : ['🔀 Reclasificación completada', 'Sin cambios necesarios'];\nconst text = lines.join('\\n');\nreturn [{ json: {\n  ...result,\n  telegram_polled: Boolean(orig.telegram_polled),\n  telegram_update_id: orig.body?.update_id ?? null,\n  telegram_lock_id: orig.telegram_lock_id ?? null,\n  telegram_enabled: telegramEnabled,\n  telegram_bot_token: token,\n  telegram_message: telegramEnabled ? { chat_id: msgChatId, text } : null\n} }];"
      },
      "id": "reclassify-parse-run",
      "name": "Parse Reclassify Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "reclassify-should-send",
      "name": "Should Send Telegram Reclassify Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_message) }}",
        "options": {}
      },
      "id": "reclassify-send-telegram",
      "name": "Send Telegram Reclassify Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        800
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = ($node['Parse Reclassify Result'] && $node['Parse Reclassify Result'].json) ? $node['Parse Reclassify Result'].json : $json;\nconst staticData = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {};\nif (data.telegram_polled && Number.isSafeInteger(Number(data.telegram_update_id))) {\n  staticData.telegram_last_update_id = Number(data.telegram_update_id);\n}\nreturn [{ json: data }];"
      },
      "id": "reclassify-finalize",
      "name": "Finalize Reclassify Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        900
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.telegram_lock_id ? \"node /app/dist/tools/bot-lock.js release --vault /data/vault --name telegram-bot --lock-id \" + JSON.stringify($json.telegram_lock_id) : \"node -e \" + JSON.stringify(\"process.stdout.write(JSON.stringify({ status: 'skipped', released: false }) + '\\n')\") }}",
        "executeOnce": true
      },
      "id": "reclassify-release-lock",
      "name": "Release Bot Lock After Reclassify",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2920,
        900
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Answer Run Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Telegram Poll Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Poll Request": {
      "main": [
        [
          {
            "node": "Should Poll Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Poll Telegram?": {
      "main": [
        [
          {
            "node": "Call Telegram getUpdates",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call Telegram getUpdates": {
      "main": [
        [
          {
            "node": "Prepare Telegram Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Updates": {
      "main": [
        [
          {
            "node": "Acquire Bot Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Bot Lock": {
      "main": [
        [
          {
            "node": "Parse Bot Lock Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bot Lock Result": {
      "main": [
        [
          {
            "node": "Is Telegram Ingest Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram Ingest Command?": {
      "main": [
        [
          {
            "node": "Build Ingest Run Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Telegram Search Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram Search Command?": {
      "main": [
        [
          {
            "node": "Build Search Run Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Telegram Reindex Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram Reindex Command?": {
      "main": [
        [
          {
            "node": "Run reindex.ts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Telegram Healthcheck Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram Healthcheck Command?": {
      "main": [
        [
          {
            "node": "Run health-check.ts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Telegram Reclassify Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram Reclassify Command?": {
      "main": [
        [
          {
            "node": "Run reclassify-by-links.ts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Answer Run Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Run Payload": {
      "main": [
        [
          {
            "node": "Run search-run.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run search-run.ts": {
      "main": [
        [
          {
            "node": "Parse Search Run Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Search Run Result": {
      "main": [
        [
          {
            "node": "Should Send Telegram Search Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Search Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Search Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Search Log": {
      "main": [
        [
          {
            "node": "Finalize Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Search Response": {
      "main": [
        [
          {
            "node": "Release Bot Lock After Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Answer Run Payload": {
      "main": [
        [
          {
            "node": "Run answer-run.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run answer-run.ts": {
      "main": [
        [
          {
            "node": "Parse Answer Run Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Answer Run Result": {
      "main": [
        [
          {
            "node": "Should Send Telegram Answer Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Answer Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Answer Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Answer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Answer Log": {
      "main": [
        [
          {
            "node": "Finalize Answer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Answer Response": {
      "main": [
        [
          {
            "node": "Release Bot Lock After Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingest Run Payload": {
      "main": [
        [
          {
            "node": "Run ingest-run.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run ingest-run.ts": {
      "main": [
        [
          {
            "node": "Parse Ingest Run Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ingest Run Result": {
      "main": [
        [
          {
            "node": "Should Send Telegram Ingest Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Ingest Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Ingest Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Ingest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Ingest Log": {
      "main": [
        [
          {
            "node": "Finalize Ingest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Ingest Response": {
      "main": [
        [
          {
            "node": "Release Bot Lock After Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run reindex.ts": {
      "main": [
        [
          {
            "node": "Parse Reindex Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reindex Result": {
      "main": [
        [
          {
            "node": "Should Send Telegram Reindex Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Reindex Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Reindex Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Reindex Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Reindex Log": {
      "main": [
        [
          {
            "node": "Finalize Reindex Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Reindex Response": {
      "main": [
        [
          {
            "node": "Release Bot Lock After Reindex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run health-check.ts": {
      "main": [
        [
          {
            "node": "Parse Healthcheck Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Healthcheck Result": {
      "main": [
        [
          {
            "node": "Should Send Telegram Healthcheck Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Healthcheck Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Healthcheck Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Healthcheck Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Healthcheck Log": {
      "main": [
        [
          {
            "node": "Finalize Healthcheck Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Healthcheck Response": {
      "main": [
        [
          {
            "node": "Release Bot Lock After Healthcheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run reclassify-by-links.ts": {
      "main": [
        [
          {
            "node": "Parse Reclassify Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reclassify Result": {
      "main": [
        [
          {
            "node": "Should Send Telegram Reclassify Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Reclassify Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Reclassify Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Reclassify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Reclassify Log": {
      "main": [
        [
          {
            "node": "Finalize Reclassify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Reclassify Response": {
      "main": [
        [
          {
            "node": "Release Bot Lock After Reclassify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {}
}
