n8n/workflows/kb-answer-blueprint.json
{
  "name": "KB - Answer OpenRouter Manual",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-answer",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1160,
        -80
      ],
      "id": "6d5eb332-6ad7-4b8e-a5f0-8d8b66432667",
      "name": "Webhook",
      "webhookId": "kb-answer",
      "notesInFlow": true,
      "notes": "Keep inactive for V1 if operating from the manual n8n UI only."
    },
    {
      "parameters": {},
      "id": "f37e17fb-6ca0-4083-9f65-7f1bf80ff9f6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1160,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst telegramMessage = body.message ?? body.edited_message ?? null;\nconst telegramChatId = telegramMessage?.chat?.id !== undefined ? String(telegramMessage.chat.id) : null;\nconst telegramText = typeof telegramMessage?.text === 'string' ? telegramMessage.text.trim() : '';\nconst allowedTelegramChatId = String(env.TELEGRAM_CHAT_ID || '').trim();\nif (telegramChatId && allowedTelegramChatId && telegramChatId !== allowedTelegramChatId) {\n  throw new Error('Unauthorized Telegram chat id: ' + telegramChatId);\n}\nfunction stripTelegramCommand(text) {\n  return text.replace(/^\\/(?:ask|answer|query)(?:@\\w+)?\\s*/i, '').trim();\n}\nconst bodyQuestion = typeof body.question === 'string' ? body.question.trim() : '';\nconst question = telegramText\n  ? stripTelegramCommand(telegramText)\n  : bodyQuestion || 'What should I know from the current wiki state?';\nif (telegramText && !question) {\n  throw new Error('Telegram message did not include a question after the command');\n}\nconst limit = Number.isFinite(Number(body.limit)) && Number(body.limit) > 0 ? Number(body.limit) : 8;\nreturn [{\n  json: {\n    question,\n    limit,\n    telegram_chat_id: telegramChatId,\n    telegram_message_id: telegramMessage?.message_id ?? null,\n    telegram_update_id: body.update_id ?? null\n  }\n}];"
      },
      "id": "9bb85ad8-6020-4a97-9a2e-ad8f7f13cf1f",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        16
      ],
      "notesInFlow": true,
      "notes": "Accepts { question, limit? } or a Telegram webhook update. Telegram commands /ask, /answer, and /query are stripped."
    },
    {
      "parameters": {
        "command": "={{ \"node /app/dist/tools/search.js --vault /data/vault --limit \" + $json.limit + \" \" + JSON.stringify($json.question) }}",
        "executeOnce": true
      },
      "id": "531c1047-7162-4cac-8177-eb1fa83139ad",
      "name": "Run search.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -520,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('search.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "af188e0a-55a2-42f8-a4d5-0a1c21f8e4c5",
      "name": "Parse Search Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  question: $node[\"Prepare Query\"].json.question,\n  retrieval: $input.first().json\n};\nreturn [{\n  json: {\n    payload,\n    payload_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "f573919b-907d-4b4f-99c6-dbe0763bf0dd",
      "name": "Build Context Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        16
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.payload_b64) + \" | node /app/dist/tools/answer-context.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "3d221ee4-2cf9-4125-a2f2-c85562433903",
      "name": "Run answer-context.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        440,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('answer-context.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "629110e8-df91-4d95-a93c-cd39a3ba9029",
      "name": "Parse Answer Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const packet = $input.first().json;\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst baseUrl = (env.OPENROUTER_BASE_URL || 'https://openrouter.ai/api/v1').replace(/\\/+$/, '');\nconst model = (env.OPENROUTER_MODEL || '').trim();\nconst temperature = Number.isFinite(Number(env.OPENROUTER_ANSWER_TEMPERATURE))\n  ? Number(env.OPENROUTER_ANSWER_TEMPERATURE)\n  : 0.2;\nconst contextDocs = Array.isArray(packet.context_docs) ? packet.context_docs : [];\nconst requestBody = {\n  ...(model ? { model } : {}),\n  stream: false,\n  temperature,\n  messages: [\n    {\n      role: 'system',\n      content: [\n        'You answer questions using only the provided markdown wiki context.',\n        'If the context is insufficient, say what is missing instead of inventing facts.',\n        'Do not mutate the wiki and do not claim to have updated files.',\n        'Return concise markdown suitable for an answer artifact.'\n      ].join(' ')\n    },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        question: packet.question,\n        evidence_used: packet.answer_record?.evidence_used ?? [],\n        context_docs: contextDocs.map((doc) => ({\n          path: doc.path,\n          title: doc.title,\n          doc_type: doc.doc_type,\n          body: doc.body\n        }))\n      }, null, 2)\n    }\n  ]\n};\nreturn [{\n  json: {\n    ...packet,\n    openrouter_url: baseUrl + '/chat/completions',\n    openrouter_request: requestBody\n  }\n}];"
      },
      "id": "a2f6c7db-ef1b-4e08-aea8-f3d0f88211a1",
      "name": "Build OpenRouter Answer Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        16
      ],
      "notesInFlow": true,
      "notes": "Calls OpenRouter through an OpenAI-compatible chat completion request. Set OPENROUTER_API_KEY and optionally OPENROUTER_MODEL in n8n."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.openrouter_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "={{ $env.OPENROUTER_SITE_URL || 'https://localhost' }}"
            },
            {
              "name": "X-OpenRouter-Title",
              "value": "dps-wiki-llm"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openrouter_request) }}",
        "options": {}
      },
      "id": "4031b912-0a1b-4e20-b96f-dbd60e47183f",
      "name": "Call OpenRouter Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst response = raw.body ?? raw;\nconst choice = Array.isArray(response.choices) ? response.choices[0] : undefined;\nconst content = choice?.message?.content ?? choice?.text;\nconst answer = Array.isArray(content)\n  ? content.map((part) => typeof part === 'string' ? part : part?.text ?? '').join('').trim()\n  : typeof content === 'string'\n    ? content.trim()\n    : '';\nif (!answer) {\n  throw new Error('OpenRouter answer response did not include choices[0].message.content');\n}\nconst packet = $node['Build OpenRouter Answer Request'].json;\nreturn [{\n  json: {\n    ...packet,\n    answer,\n    openrouter_answer_meta: {\n      id: response.id ?? null,\n      model: response.model ?? null,\n      usage: response.usage ?? null,\n      finish_reason: choice?.finish_reason ?? null\n    }\n  }\n}];"
      },
      "id": "fa80dd97-7355-4cc3-9007-c240d5dcbec8",
      "name": "Parse OpenRouter Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  answer_record: $json.answer_record,\n  answer: $json.answer\n};\nreturn [{\n  json: {\n    ...$json,\n    answer_record_payload: payload,\n    answer_record_payload_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "be2ba4b0-5bbf-4d5e-92d6-09c21ce4d38d",
      "name": "Build Answer Record Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        16
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.answer_record_payload_b64) + \" | node /app/dist/tools/answer-record.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "3599503b-c7c4-46d7-8536-bbb3475f08e9",
      "name": "Run answer-record.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2280,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('answer-record.ts returned empty stdout');\n}\nconst parsed = JSON.parse(stdout);\nreturn [{\n  json: {\n    ...$node['Build Answer Record Payload'].json,\n    answer_record_result: parsed,\n    answer_record: parsed.record\n  }\n}];"
      },
      "id": "a0a042e6-f9bd-49f4-a96e-b879667d5eb9",
      "name": "Parse Answer Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2580,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const packet = $json;\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst baseUrl = (env.OPENROUTER_BASE_URL || 'https://openrouter.ai/api/v1').replace(/\\/+$/, '');\nconst model = (env.OPENROUTER_MODEL || '').trim();\nconst contextDocs = Array.isArray(packet.context_docs) ? packet.context_docs : [];\nconst requestBody = {\n  ...(model ? { model } : {}),\n  stream: false,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: [\n        'You produce only valid JSON matching the Feedback Record contract.',\n        'Valid decision values are none, output_only, and propagate.',\n        'Use propagate only for small reusable wiki changes grounded in the evidence_used paths.',\n        'Every candidate item must include item_id, target_note, change_type, novelty, source_support, proposed_content, and outcome.',\n        'Use outcome applied only for changes you recommend a human approve; otherwise use deferred or rejected.',\n        'Do not copy the whole answer into the wiki.'\n      ].join(' ')\n    },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        output_id: packet.answer_record.output_id,\n        answer_record: packet.answer_record,\n        answer: packet.answer,\n        source_refs: packet.answer_record.evidence_used ?? [],\n        context_docs: contextDocs.map((doc) => ({\n          path: doc.path,\n          title: doc.title,\n          doc_type: doc.doc_type,\n          body: doc.body\n        })),\n        required_json_shape: {\n          output_id: packet.answer_record.output_id,\n          decision: 'none|output_only|propagate',\n          reason: 'short reason',\n          source_refs: packet.answer_record.evidence_used ?? [],\n          candidate_items: [],\n          affected_notes: []\n        }\n      }, null, 2)\n    }\n  ]\n};\nreturn [{\n  json: {\n    ...packet,\n    openrouter_url: baseUrl + '/chat/completions',\n    openrouter_request: requestBody\n  }\n}];"
      },
      "id": "d0157ec0-96ad-4083-a815-0fc3252eb053",
      "name": "Build OpenRouter Feedback Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        16
      ],
      "notesInFlow": true,
      "notes": "Produces a proposed Feedback Record. The workflow validates it but does not apply wiki changes."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.openrouter_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "={{ $env.OPENROUTER_SITE_URL || 'https://localhost' }}"
            },
            {
              "name": "X-OpenRouter-Title",
              "value": "dps-wiki-llm"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openrouter_request) }}",
        "options": {}
      },
      "id": "1aef9905-e1c9-4737-b8d5-53985dc98a59",
      "name": "Call OpenRouter Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractJson(text) {\n  const stripped = text.trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n  try {\n    return JSON.parse(stripped);\n  } catch (error) {\n    const match = stripped.match(/\\{[\\s\\S]*\\}/);\n    if (!match) throw error;\n    return JSON.parse(match[0]);\n  }\n}\nconst raw = $input.first().json;\nconst response = raw.body ?? raw;\nconst choice = Array.isArray(response.choices) ? response.choices[0] : undefined;\nconst content = choice?.message?.content ?? choice?.text;\nconst text = Array.isArray(content)\n  ? content.map((part) => typeof part === 'string' ? part : part?.text ?? '').join('').trim()\n  : typeof content === 'string'\n    ? content.trim()\n    : '';\nif (!text) {\n  throw new Error('OpenRouter feedback response did not include JSON content');\n}\nconst proposedFeedback = extractJson(text);\nif (!proposedFeedback.output_id) {\n  proposedFeedback.output_id = $node['Parse Answer Record'].json.answer_record.output_id;\n}\nif (!Array.isArray(proposedFeedback.source_refs)) {\n  proposedFeedback.source_refs = $node['Parse Answer Record'].json.answer_record.evidence_used ?? [];\n}\nif (!Array.isArray(proposedFeedback.candidate_items)) {\n  proposedFeedback.candidate_items = [];\n}\nif (!Array.isArray(proposedFeedback.affected_notes)) {\n  proposedFeedback.affected_notes = proposedFeedback.candidate_items\n    .filter((item) => item.outcome === 'applied')\n    .map((item) => item.target_note)\n    .filter(Boolean);\n}\nconst packet = $node['Build OpenRouter Feedback Request'].json;\nreturn [{\n  json: {\n    ...packet,\n    proposed_feedback: proposedFeedback,\n    proposed_feedback_payload_b64: Buffer.from(JSON.stringify(proposedFeedback), 'utf8').toString('base64'),\n    openrouter_feedback_meta: {\n      id: response.id ?? null,\n      model: response.model ?? null,\n      usage: response.usage ?? null,\n      finish_reason: choice?.finish_reason ?? null\n    }\n  }\n}];"
      },
      "id": "48bfc6d5-6df4-4d97-95f2-af85f745967e",
      "name": "Parse Proposed Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3480,
        16
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.proposed_feedback_payload_b64) + \" | node /app/dist/tools/feedback-record.js --vault /data/vault --no-write\" }}",
        "executeOnce": true
      },
      "id": "e17953a6-0f44-4956-aeb3-f130dbf91218",
      "name": "Validate feedback-record.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3780,
        16
      ],
      "notesInFlow": true,
      "notes": "Validates the proposed Feedback Record without writing state/feedback or mutating wiki."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('feedback-record.ts --no-write returned empty stdout');\n}\nconst validation = JSON.parse(stdout);\nreturn [{\n  json: {\n    ...$node['Parse Proposed Feedback'].json,\n    feedback_validation: validation\n  }\n}];"
      },
      "id": "1e3ec54d-42c9-4af0-9a75-34fca9787490",
      "name": "Parse Feedback Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const feedback = $json.feedback_validation.record;\nreturn [{\n  json: {\n    status: 'answer_recorded_feedback_proposed',\n    question: $json.question,\n    answer: $json.answer,\n    answer_record: $json.answer_record,\n    output_path: $json.answer_record_result.output_path,\n    proposed_feedback: feedback,\n    approval_required: feedback.decision === 'propagate',\n    apply_feedback_workflow: 'KB - Apply Feedback',\n    approval_payload: {\n      approved: true,\n      feedback\n    },\n    openrouter_answer_meta: $json.openrouter_answer_meta,\n    openrouter_feedback_meta: $json.openrouter_feedback_meta\n  }\n}];"
      },
      "id": "e225f8ab-7f1e-45dd-b73f-1f34c0814f8e",
      "name": "Build Answer Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4380,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "function truncate(value, maxLength) {\n  const text = String(value ?? '');\n  return text.length > maxLength ? text.slice(0, maxLength - 3) + '...' : text;\n}\nfunction compactLines(values) {\n  return values.filter((value) => typeof value === 'string' && value.trim()).join(String.fromCharCode(10));\n}\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst chatId = String($json.telegram_chat_id ?? env.TELEGRAM_CHAT_ID ?? '').trim();\nconst token = String(env.TELEGRAM_BOT_TOKEN ?? '').trim();\nconst missingConfig = [];\nif (!token) missingConfig.push('TELEGRAM_BOT_TOKEN');\nif (!chatId) missingConfig.push('telegram_chat_id or TELEGRAM_CHAT_ID');\nconst evidence = Array.isArray($json.answer_record?.evidence_used) ? $json.answer_record.evidence_used : [];\nconst text = compactLines([\n  'KB answer completed',\n  'Question: ' + truncate($json.question, 500),\n  'Answer:',\n  truncate($json.answer, 2600),\n  $json.output_path ? 'Output: ' + $json.output_path : '',\n  evidence.length ? 'Evidence: ' + evidence.slice(0, 6).join(', ') : '',\n  'Feedback decision: ' + ($json.proposed_feedback?.decision ?? 'unknown'),\n  $json.approval_required ? 'Feedback approval required: yes' : 'Feedback approval required: no'\n]);\nreturn [{\n  json: {\n    ...$json,\n    telegram_enabled: missingConfig.length === 0,\n    telegram_skip_reason: missingConfig.length ? 'Missing Telegram runtime configuration: ' + missingConfig.join(', ') : null,\n    telegram_bot_token: token,\n    telegram_answer_message: {\n      chat_id: chatId,\n      text,\n      disable_web_page_preview: true\n    }\n  }\n}];"
      },
      "id": "9426129b-4f0f-43b5-b91e-b59ec27da8f5",
      "name": "Build Telegram Answer Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4680,
        16
      ],
      "notesInFlow": true,
      "notes": "Builds a Telegram answer log. It keeps the main answer response intact and only sends when Telegram env/chat id is present."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "f5dbf588-eac5-45e9-9bb0-4f10d13a3482",
      "name": "Should Send Telegram Answer Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4980,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_answer_message) }}",
        "options": {}
      },
      "id": "60c6afb5-f107-4461-9288-6a600803b157",
      "name": "Send Telegram Answer Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        -96
      ],
      "notesInFlow": true,
      "notes": "Sends a plain-text Telegram message through Bot API. Requires TELEGRAM_BOT_TOKEN and a chat id.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const fallback = $node['Build Telegram Answer Log'].json;\nconst telegramResponse = $json.ok !== undefined ? $json : null;\nreturn [{\n  json: {\n    ...fallback,\n    telegram_answer_log_sent: Boolean(telegramResponse?.ok),\n    telegram_answer_log_result: telegramResponse\n  }\n}];"
      },
      "id": "9839b6f2-0c6a-41cb-bd81-010eba613464",
      "name": "Finalize Answer Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5580,
        16
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Run search.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run search.ts": {
      "main": [
        [
          {
            "node": "Parse Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Search Result": {
      "main": [
        [
          {
            "node": "Build Context Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context Payload": {
      "main": [
        [
          {
            "node": "Run answer-context.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run answer-context.ts": {
      "main": [
        [
          {
            "node": "Parse Answer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Answer Context": {
      "main": [
        [
          {
            "node": "Build OpenRouter Answer Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenRouter Answer Request": {
      "main": [
        [
          {
            "node": "Call OpenRouter Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter Answer": {
      "main": [
        [
          {
            "node": "Parse OpenRouter Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenRouter Answer": {
      "main": [
        [
          {
            "node": "Build Answer Record Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Answer Record Payload": {
      "main": [
        [
          {
            "node": "Run answer-record.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run answer-record.ts": {
      "main": [
        [
          {
            "node": "Parse Answer Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Answer Record": {
      "main": [
        [
          {
            "node": "Build OpenRouter Feedback Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenRouter Feedback Request": {
      "main": [
        [
          {
            "node": "Call OpenRouter Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter Feedback": {
      "main": [
        [
          {
            "node": "Parse Proposed Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Proposed Feedback": {
      "main": [
        [
          {
            "node": "Validate feedback-record.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate feedback-record.ts": {
      "main": [
        [
          {
            "node": "Parse Feedback Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Feedback Validation": {
      "main": [
        [
          {
            "node": "Build Answer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Answer Response": {
      "main": [
        [
          {
            "node": "Build Telegram Answer Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Answer Log": {
      "main": [
        [
          {
            "node": "Should Send Telegram Answer Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Answer Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Answer Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Answer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Answer Log": {
      "main": [
        [
          {
            "node": "Finalize Answer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
