n8n/workflows/kb-ingest-raw-blueprint.json
{
  "name": "KB - Ingest Raw OpenRouter Manual",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/vault/raw",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "ignored": "**/.obsidian/**"
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -1220,
        -96
      ],
      "id": "5a6e83fa-f7d8-40d7-b465-36c3b8ab5bcc",
      "name": "Local File Trigger",
      "notesInFlow": true,
      "notes": "Production V1 keeps this workflow inactive and uses manual n8n runs. Only activate this trigger after validating raw/** watcher behavior."
    },
    {
      "parameters": {},
      "id": "d3cfe4f5-f938-421a-a204-3e2812d4dffc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1220,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst detectedPath = body.raw_path || body.path || body.filePath || body.filename || 'raw/inbox/example.md';\nconst normalized = {\n  raw_path: detectedPath,\n  trigger_source: body.path || body.filePath || body.filename ? 'local-file-trigger' : 'manual',\n  captured_at: body.captured_at || new Date().toISOString()\n};\nreturn [{ json: normalized }];"
      },
      "id": "16635cb1-fc84-42dc-ba91-f5f5f996e0f3",
      "name": "Normalize Raw Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nreturn [{\n  json: {\n    payload,\n    payload_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "328e079d-24c2-4044-b3f5-9d8b242cb433",
      "name": "Encode Raw Event Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        16
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.payload_b64) + \" | node /app/dist/tools/ingest-source.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "cf7714bb-0496-44f8-a0ce-93d25fdac957",
      "name": "Run ingest-source.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -260,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('ingest-source.ts returned empty stdout');\n}\nconst source_payload = JSON.parse(stdout);\nreturn [{\n  json: {\n    source_payload,\n    payload_b64: Buffer.from(JSON.stringify(source_payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "83cc9134-fb95-42a2-8272-f64d788a9dd7",
      "name": "Parse Source Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        16
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.payload_b64) + \" | node /app/dist/tools/plan-source-note.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "df743684-4018-4c72-9eb2-94bc267ad44a",
      "name": "Run plan-source-note.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1280,
        16
      ],
      "notesInFlow": true,
      "notes": "Creates the source note and root index Mutation Plan. In the n8n ingest flow its input is the mandatory LLM-cleaned source_note payload."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('plan-source-note.ts returned empty stdout');\n}\nconst parsed = JSON.parse(stdout);\nif (!parsed.mutation_plan || !parsed.commit_input) {\n  throw new Error('plan-source-note.ts must return mutation_plan and commit_input');\n}\nreturn [{\n  json: {\n    source_payload: parsed.source_payload,\n    mutation_plan: parsed.mutation_plan,\n    commit_input: parsed.commit_input,\n    plan_b64: Buffer.from(JSON.stringify(parsed.mutation_plan), 'utf8').toString('base64'),\n    commit_b64: Buffer.from(JSON.stringify(parsed.commit_input), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "3e447c22-d49a-4468-8545-78777d1f7f28",
      "name": "Parse Source Note Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        16
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.plan_b64) + \" | node /app/dist/tools/apply-update.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "779d37d9-3079-4e75-99dc-092929af9df7",
      "name": "Run apply-update.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1920,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('apply-update.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "bc9ef6af-a5fe-4e88-8f59-fc4e2caf863f",
      "name": "Parse Mutation Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        16
      ]
    },
    {
      "parameters": {
        "command": "node /app/dist/tools/reindex.js --vault /data/vault",
        "executeOnce": true
      },
      "id": "1f8f0d2f-6193-4687-b8cc-1fc6eea2b7f4",
      "name": "Run reindex.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2520,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('reindex.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "33bd8d14-1673-4ddf-91d0-af6461ac01dd",
      "name": "Parse Reindex Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        16
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($node[\"Parse Source Note Plan\"].json.commit_b64) + \" | node /app/dist/tools/commit.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "db6f28cf-7ded-420b-8a4c-78ddd9129115",
      "name": "Run commit.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3120,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('commit.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "4db62253-f389-40ed-b318-cd5488d85eb7",
      "name": "Parse Commit Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourcePayload = $node['Parse Source Note Plan'].json.source_payload;\nconst baselinePlan = $node['Parse Source Note Plan'].json.mutation_plan;\nconst baselineSourceNotePath = baselinePlan.page_actions?.[0]?.path;\nconst baselineSourceNoteTitle = baselinePlan.page_actions?.[0]?.payload?.title || sourcePayload.title;\nconst baselineSourceNoteLink = baselineSourceNoteTitle ? '[[' + baselineSourceNoteTitle + ']]' : null;\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst baseUrl = (env.OPENROUTER_BASE_URL || 'https://openrouter.ai/api/v1').replace(/\\/+$/, '');\nconst model = (env.OPENROUTER_MODEL || '').trim();\nconst sourceRefs = [sourcePayload.raw_path, baselineSourceNotePath].filter(Boolean);\nconst allowedPagePathPrefixes = ['wiki/concepts/', 'wiki/entities/', 'wiki/topics/', 'wiki/analyses/'];\nconst requestBody = {\n  ...(model ? { model } : {}),\n  stream: false,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: [\n        'You produce only valid JSON matching the Mutation Plan contract.',\n        'This plan may be applied automatically and must not include a create action for the baseline source note.',\n        'Every page_actions[].path must start exactly with one of: wiki/concepts/, wiki/entities/, wiki/topics/, or wiki/analyses/, except for one narrow update to the exact baseline source note path provided by source_note_update_allowed_path.',\n        'Never write directly under wiki/, for example use wiki/concepts/lean-server.md instead of wiki/lean-server.md.',\n        'Only propose small grounded changes under those allowed page path prefixes.',\n        'When the source has a clear reusable domain or theme, create or update a topic under wiki/topics/ for that domain and link it to the baseline source note and relevant concepts.',\n        'For example, a source primarily about productivity should normally create or update wiki/topics/productivity.md unless an equivalent topic already exists.',\n        'Every created or updated concept, entity, topic, or analysis must include the baseline source note link in its Sources section when the change is grounded in this source.',\n        'When you create or update reusable notes, also update the exact baseline source note with Linked Notes pointing back to those notes.',\n        'The baseline source note update may only use action update and payload.sections.Linked Notes; do not modify Summary, Raw Context, Extracted Claims, frontmatter, title, or other sections.',\n        'Do not write raw content dumps. Prefer noop or empty page_actions when the source lacks reusable knowledge.',\n        'Every write action must include an idempotency_key and source_refs must include the raw_path and baseline source note path when available.'\n      ].join(' ')\n    },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        source_payload: sourcePayload,\n        baseline_mutation_plan: baselinePlan,\n        allowed_page_path_prefixes: allowedPagePathPrefixes,\n        source_note_update_allowed_path: baselineSourceNotePath,\n        source_note_update_allowed_sections: ['Linked Notes'],\n        baseline_source_note_link: baselineSourceNoteLink,\n        invalid_page_path_examples: ['wiki/lean-server.md', 'wiki/example.md', 'wiki/sources/other-source.md'],\n        required_json_shape: {\n          plan_id: 'plan-' + sourcePayload.source_id + '-llm-ingest-review',\n          operation: 'ingest',\n          summary: 'Auto-applied LLM plan for reusable wiki updates',\n          source_refs: sourceRefs,\n          page_actions: [\n            {\n              path: 'wiki/concepts/example-concept.md',\n              action: 'noop',\n              doc_type: 'concept',\n              change_type: 'fact',\n              idempotency_key: sourcePayload.source_id + ':wiki/concepts/example-concept.md',\n              payload: {\n                sections: {\n                  Facts: ['Grounded reusable fact from the source.'],\n                  Sources: baselineSourceNoteLink ? [baselineSourceNoteLink] : []\n                },\n                related_links: []\n              }\n            },\n            {\n              path: baselineSourceNotePath,\n              action: 'noop',\n              doc_type: 'source',\n              change_type: 'new_link',\n              idempotency_key: sourcePayload.source_id + ':source-linked-notes',\n              payload: {\n                sections: {\n                  'Linked Notes': ['[[Example Concept]]']\n                }\n              }\n            }\n          ],\n          index_updates: [],\n          post_actions: { reindex: true, commit: true }\n        }\n      }, null, 2)\n    }\n  ]\n};\nreturn [{\n  json: {\n    source_payload: sourcePayload,\n    baseline_mutation_plan: baselinePlan,\n    baseline_mutation_result: $node['Parse Mutation Result'].json,\n    baseline_reindex_result: $node['Parse Reindex Result'].json,\n    baseline_commit_result: $node['Parse Commit Result'].json,\n    openrouter_source_note_meta: $node['Parse LLM Source Note'].json.openrouter_source_note_meta,\n    openrouter_url: baseUrl + '/chat/completions',\n    openrouter_request: requestBody\n  }\n}];"
      },
      "id": "20ce5d16-07b4-45d2-ad64-91bb5108b8f0",
      "name": "Build OpenRouter Ingest Plan Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3720,
        16
      ],
      "notesInFlow": true,
      "notes": "Produces an optional richer ingest Mutation Plan. The workflow validates and auto-applies non-empty plans with guardrails."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.openrouter_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify((() => { const headerName = String($env.LLM_API_KEY_HEADER || 'Authorization').trim() || 'Authorization'; const apiKey = String($env.OPENROUTER_API_KEY || '').trim(); if (!apiKey) { throw new Error('Missing OpenRouter runtime configuration: OPENROUTER_API_KEY'); } const apiKeyValue = headerName.toLowerCase() === 'authorization' ? 'Bearer ' + apiKey : apiKey; return { [headerName]: apiKeyValue, 'Content-Type': 'application/json', 'HTTP-Referer': $env.OPENROUTER_SITE_URL || 'https://localhost', 'X-OpenRouter-Title': 'dps-wiki-llm' }; })()) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openrouter_request) }}",
        "options": {}
      },
      "id": "0dec72b7-434f-4f3d-a724-cd56417cb72e",
      "name": "Call OpenRouter Ingest Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4020,
        16
      ],
      "notesInFlow": true,
      "notes": "Calls the LLM API through n8n HTTP Request with a dynamic API-key header. LLM_API_KEY_HEADER defaults to Authorization; non-Authorization headers receive the raw OPENROUTER_API_KEY value."
    },
    {
      "parameters": {
        "jsCode": "function extractJson(text) {\n  const fence = String.fromCharCode(96, 96, 96);\n  const stripped = text.trim().replace(new RegExp('^' + fence + '(?:json)?\\\\s*', 'i'), '').replace(new RegExp(fence + '$', 'i'), '').trim();\n  try {\n    return JSON.parse(stripped);\n  } catch (error) {\n    const match = stripped.match(/\\{[\\s\\S]*\\}/);\n    if (!match) throw error;\n    return JSON.parse(match[0]);\n  }\n}\nfunction assertRecord(value, label) {\n  if (!value || typeof value !== 'object' || Array.isArray(value)) {\n    throw new Error(label + ' must be an object');\n  }\n}\nfunction isRecord(value) {\n  return value && typeof value === 'object' && !Array.isArray(value);\n}\nfunction isSafeRelativePath(value) {\n  return typeof value === 'string' && !value.startsWith('/') && !value.includes('..') && !value.includes('\\\\');\n}\nfunction rejectAction(collection, item, reason) {\n  collection.push({ path: item?.path ?? null, action: item?.action ?? null, reason });\n  if (item && typeof item === 'object') {\n    item.action = 'noop';\n  }\n}\nfunction hasOnlyLinkedNotesSection(action) {\n  if (!isRecord(action.payload)) {\n    return false;\n  }\n  const payloadKeys = Object.keys(action.payload).filter((key) => action.payload[key] !== undefined);\n  if (payloadKeys.some((key) => key !== 'sections')) {\n    return false;\n  }\n  const sections = action.payload.sections;\n  if (!isRecord(sections)) {\n    return false;\n  }\n  const sectionKeys = Object.keys(sections).filter((key) => sections[key] !== undefined);\n  if (sectionKeys.length !== 1 || sectionKeys[0] !== 'Linked Notes') {\n    return false;\n  }\n  const linkedNotes = sections['Linked Notes'];\n  if (typeof linkedNotes === 'string') {\n    return Boolean(linkedNotes.trim());\n  }\n  return Array.isArray(linkedNotes) && linkedNotes.length > 0 && linkedNotes.every((item) => typeof item === 'string' && item.trim());\n}\nconst raw = $input.first().json;\nconst response = raw.body ?? raw;\nconst choice = Array.isArray(response.choices) ? response.choices[0] : undefined;\nconst content = choice?.message?.content ?? choice?.text;\nconst text = Array.isArray(content)\n  ? content.map((part) => typeof part === 'string' ? part : part?.text ?? '').join('').trim()\n  : typeof content === 'string'\n    ? content.trim()\n    : '';\nif (!text) {\n  throw new Error('OpenRouter ingest planner response did not include JSON content');\n}\nconst plan = extractJson(text);\nassertRecord(plan, 'LLM ingest plan');\nif (typeof plan.plan_id !== 'string' || !plan.plan_id.trim()) {\n  throw new Error('LLM ingest plan must include plan_id');\n}\nif (!Array.isArray(plan.source_refs) || plan.source_refs.length === 0) {\n  throw new Error('LLM ingest plan must include source_refs[]');\n}\nif (!Array.isArray(plan.page_actions)) {\n  throw new Error('LLM ingest plan must include page_actions[]');\n}\nif (!Array.isArray(plan.index_updates)) {\n  plan.index_updates = [];\n}\nconst guardrailRejections = [];\nconst packet = $node['Build OpenRouter Ingest Plan Request'].json;\nconst baselineSourceNotePath = packet.baseline_mutation_plan?.page_actions?.[0]?.path;\nconst allowedPagePrefixes = ['wiki/concepts/', 'wiki/entities/', 'wiki/topics/', 'wiki/analyses/'];\nconst validPageActions = new Set(['create', 'update', 'noop']);\nfor (const action of plan.page_actions) {\n  assertRecord(action, 'LLM page action');\n  if (!isSafeRelativePath(action.path)) {\n    rejectAction(guardrailRejections, action, 'unsafe page path');\n    continue;\n  }\n  if (!validPageActions.has(action.action)) {\n    rejectAction(guardrailRejections, action, 'unsupported page action');\n    continue;\n  }\n  if (!action.path.endsWith('.md')) {\n    rejectAction(guardrailRejections, action, 'page path is not markdown');\n    continue;\n  }\n  const isBaselineSourceNoteUpdate = Boolean(baselineSourceNotePath) && action.path === baselineSourceNotePath;\n  if (isBaselineSourceNoteUpdate) {\n    if (action.action === 'noop') {\n      continue;\n    }\n    if (action.action !== 'update') {\n      rejectAction(guardrailRejections, action, 'source note backlink action must be update');\n      continue;\n    }\n    if (!hasOnlyLinkedNotesSection(action)) {\n      rejectAction(guardrailRejections, action, 'source note updates may only write Linked Notes');\n      continue;\n    }\n    if (typeof action.idempotency_key !== 'string' || !action.idempotency_key.trim()) {\n      rejectAction(guardrailRejections, action, 'missing idempotency_key');\n    }\n    continue;\n  }\n  if (!allowedPagePrefixes.some((prefix) => action.path.startsWith(prefix))) {\n    rejectAction(guardrailRejections, action, 'page path outside allowed wiki areas');\n    continue;\n  }\n  if ((action.action === 'create' || action.action === 'update') && (typeof action.idempotency_key !== 'string' || !action.idempotency_key.trim())) {\n    rejectAction(guardrailRejections, action, 'missing idempotency_key');\n  }\n}\nconst validIndexActions = new Set(['create', 'update', 'noop', undefined]);\nfor (const update of plan.index_updates) {\n  assertRecord(update, 'LLM index update');\n  if (!isSafeRelativePath(update.path)) {\n    rejectAction(guardrailRejections, update, 'unsafe index path');\n    continue;\n  }\n  if (!validIndexActions.has(update.action)) {\n    rejectAction(guardrailRejections, update, 'unsupported index action');\n    continue;\n  }\n  if (!(update.path === 'INDEX.md' || (update.path.startsWith('wiki/indexes/') && update.path.endsWith('.md')))) {\n    rejectAction(guardrailRejections, update, 'index path outside allowed index areas');\n  }\n}\nconst hasLlmChanges = plan.page_actions.some((action) => action.action !== 'noop') || plan.index_updates.some((update) => (update.action ?? 'update') !== 'noop');\nreturn [{\n  json: {\n    ...packet,\n    llm_mutation_plan: plan,\n    llm_guardrail_rejections: guardrailRejections,\n    llm_plan_approval_required: false,\n    llm_plan_auto_apply_required: hasLlmChanges,\n    openrouter_ingest_meta: {\n      id: response.id ?? null,\n      model: response.model ?? null,\n      usage: response.usage ?? null,\n      finish_reason: choice?.finish_reason ?? null\n    }\n  }\n}];"
      },
      "id": "7376e6a7-432e-4f83-8c3c-c190f8308210",
      "name": "Parse LLM Ingest Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.llm_plan_auto_apply_required) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "59ef9d01-f3f7-4304-bd27-1120e6470b48",
      "name": "Should Apply LLM Plan?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4620,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $json.llm_mutation_plan;\nreturn [{\n  json: {\n    ...$json,\n    llm_plan_payload_b64: Buffer.from(JSON.stringify(plan), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "8e017b1b-08a0-4db5-a34b-4605ca0e8e0b",
      "name": "Prepare LLM Plan Application",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4920,
        -96
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.llm_plan_payload_b64) + \" | node /app/dist/tools/apply-update.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "0be2f2a7-4042-43e1-89fe-e7910af5cb1b",
      "name": "Run LLM apply-update.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5220,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('LLM apply-update.ts returned empty stdout');\n}\nreturn [{ json: { ...$node['Prepare LLM Plan Application'].json, llm_mutation_result: JSON.parse(stdout) } }];"
      },
      "id": "4ba558c1-14ef-46e9-bce4-c5c6756c092f",
      "name": "Parse LLM Mutation Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        -96
      ]
    },
    {
      "parameters": {
        "command": "node /app/dist/tools/reindex.js --vault /data/vault",
        "executeOnce": true
      },
      "id": "725de576-dbf3-4855-8b5f-e4732dccd6e0",
      "name": "Run LLM reindex.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5820,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('LLM reindex.ts returned empty stdout');\n}\nreturn [{ json: { ...$node['Parse LLM Mutation Result'].json, llm_reindex_result: JSON.parse(stdout) } }];"
      },
      "id": "243c3a18-389d-4a33-9b53-0df2e272870a",
      "name": "Parse LLM Reindex Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6120,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "function unique(values) {\n  return [...new Set(values.filter((item) => typeof item === 'string' && item.trim()))];\n}\nfunction truncate(value, maxLength) {\n  return value.length > maxLength ? value.slice(0, maxLength - 3) + '...' : value;\n}\nconst plan = $json.llm_mutation_plan;\nconst mutation = $json.llm_mutation_result;\nconst title = $json.source_payload?.title || $json.source_payload?.source_id || 'source';\nconst indexPaths = Array.isArray(plan.index_updates) ? plan.index_updates.map((update) => update.path) : [];\nconst affected = unique([...(mutation.created ?? []), ...(mutation.updated ?? []), ...indexPaths]);\nconst payload = {\n  operation: 'ingest',\n  summary: 'Apply LLM ingest plan for ' + title,\n  source_refs: Array.isArray(plan.source_refs) ? plan.source_refs : [],\n  affected_notes: affected,\n  paths_to_stage: unique([...affected, 'state/runtime/idempotency-keys.json', 'state/kb.db']),\n  feedback_record_ref: null,\n  mutation_result_ref: null,\n  commit_message: 'ingest: apply LLM plan for ' + truncate(title, 60)\n};\nreturn [{\n  json: {\n    ...$json,\n    llm_commit_payload: payload,\n    llm_commit_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "e75f92b0-38ae-4956-9d18-95300562e533",
      "name": "Build LLM Commit Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6420,
        -96
      ]
    },
    {
      "parameters": {
        "command": "={{ \"node -e \" + JSON.stringify(\"process.stdout.write(Buffer.from(process.argv[1], 'base64').toString('utf8'))\") + \" \" + JSON.stringify($json.llm_commit_b64) + \" | node /app/dist/tools/commit.js --vault /data/vault\" }}",
        "executeOnce": true
      },
      "id": "21c4e54e-2ae8-486e-8382-2732860d40a0",
      "name": "Run LLM commit.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        6720,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('LLM commit.ts returned empty stdout');\n}\nreturn [{ json: { ...$node['Build LLM Commit Payload'].json, llm_commit_result: JSON.parse(stdout) } }];"
      },
      "id": "bb7977a0-a235-4534-94ae-e6ea7edc8b51",
      "name": "Parse LLM Commit Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7020,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmApplied = Boolean($json.llm_mutation_result);\nreturn [{\n  json: {\n    status: llmApplied ? 'baseline_ingest_applied_llm_plan_applied' : 'baseline_ingest_applied_no_llm_changes',\n    source_payload: $json.source_payload,\n    baseline_mutation_plan: $json.baseline_mutation_plan,\n    baseline_mutation_result: $json.baseline_mutation_result,\n    baseline_reindex_result: $json.baseline_reindex_result,\n    baseline_commit_result: $json.baseline_commit_result,\n    openrouter_source_note_meta: $json.openrouter_source_note_meta,\n    llm_mutation_plan: $json.llm_mutation_plan,\n    llm_guardrail_rejections: $json.llm_guardrail_rejections ?? [],\n    llm_plan_approval_required: $json.llm_plan_approval_required,\n    llm_plan_auto_apply_required: $json.llm_plan_auto_apply_required,\n    llm_mutation_result: $json.llm_mutation_result ?? null,\n    llm_reindex_result: $json.llm_reindex_result ?? null,\n    llm_commit_result: $json.llm_commit_result ?? null,\n    openrouter_ingest_meta: $json.openrouter_ingest_meta\n  }\n}];"
      },
      "id": "fc739fd6-07f2-41f4-919b-137ed8860fdb",
      "name": "Build Ingest Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7320,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourcePayload = $node['Parse Source Payload'].json.source_payload;\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst baseUrl = (env.OPENROUTER_BASE_URL || 'https://openrouter.ai/api/v1').replace(/\\/+$/, '');\nconst model = (env.OPENROUTER_MODEL || '').trim();\nconst requestBody = {\n  ...(model ? { model } : {}),\n  stream: false,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: [\n        'You produce only valid JSON for a cleaned source note.',\n        'Clean and normalize the source content without losing materially useful information.',\n        'Do not invent facts, links, names, dates, numbers, or claims not present in the source.',\n        'Remove only boilerplate, navigation, ads, duplicated text, formatting noise, and irrelevant wrapper text.',\n        'Do not propose wiki mutations. This step only prepares the wiki/sources note content.',\n        'Return a JSON object with summary, raw_context, extracted_claims, and open_questions.'\n      ].join(' ')\n    },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        source_payload: sourcePayload,\n        required_json_shape: {\n          summary: 'Faithful concise summary of the source.',\n          raw_context: 'Cleaned normalized source content preserving all materially useful information.',\n          extracted_claims: ['Grounded claim from the source.'],\n          open_questions: ['Optional unresolved ambiguity from the source.']\n        },\n        constraints: [\n          'Preserve concrete names, dates, numbers, URLs, tool names, decisions, and caveats from the source.',\n          'Use extracted_claims only for claims directly supported by the source.',\n          'Use open_questions only for unresolved gaps present in or implied by the source.',\n          'If the source is thin, keep raw_context short but still faithful.'\n        ]\n      }, null, 2)\n    }\n  ]\n};\nreturn [{\n  json: {\n    source_payload: sourcePayload,\n    openrouter_url: baseUrl + '/chat/completions',\n    openrouter_request: requestBody\n  }\n}];"
      },
      "id": "15a7f63e-5014-4c8e-a4c9-5950a0e7a2aa",
      "name": "Build OpenRouter Source Note Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        16
      ],
      "notesInFlow": true,
      "notes": "Builds the mandatory OpenRouter request that cleans the source content for the wiki/sources note before any wiki mutation."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.openrouter_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify((() => { const headerName = String($env.LLM_API_KEY_HEADER || 'Authorization').trim() || 'Authorization'; const apiKey = String($env.OPENROUTER_API_KEY || '').trim(); if (!apiKey) { throw new Error('Missing OpenRouter runtime configuration: OPENROUTER_API_KEY'); } const apiKeyValue = headerName.toLowerCase() === 'authorization' ? 'Bearer ' + apiKey : apiKey; return { [headerName]: apiKeyValue, 'Content-Type': 'application/json', 'HTTP-Referer': $env.OPENROUTER_SITE_URL || 'https://localhost', 'X-OpenRouter-Title': 'dps-wiki-llm' }; })()) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openrouter_request) }}",
        "options": {}
      },
      "id": "5848180b-2059-4a01-af58-50599f2fed1d",
      "name": "Call OpenRouter Source Note Cleaner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        16
      ],
      "notesInFlow": true,
      "notes": "Calls the LLM API through n8n HTTP Request with a dynamic API-key header. LLM_API_KEY_HEADER defaults to Authorization; non-Authorization headers receive the raw OPENROUTER_API_KEY value."
    },
    {
      "parameters": {
        "jsCode": "function extractJson(text) {\n  const fence = String.fromCharCode(96, 96, 96);\n  const stripped = text.trim().replace(new RegExp('^' + fence + '(?:json)?\\\\s*', 'i'), '').replace(new RegExp(fence + '$', 'i'), '').trim();\n  try {\n    return JSON.parse(stripped);\n  } catch (error) {\n    const match = stripped.match(/\\{[\\s\\S]*\\}/);\n    if (!match) throw error;\n    return JSON.parse(match[0]);\n  }\n}\nfunction assertRecord(value, label) {\n  if (!value || typeof value !== 'object' || Array.isArray(value)) {\n    throw new Error(label + ' must be an object');\n  }\n}\nfunction stringField(record, field) {\n  const value = record[field];\n  if (typeof value !== 'string' || !value.trim()) {\n    throw new Error('LLM source note must include non-empty ' + field);\n  }\n  return value.trim();\n}\nfunction stringArrayField(record, field, required) {\n  const value = record[field];\n  if (value === undefined && !required) {\n    return [];\n  }\n  if (!Array.isArray(value)) {\n    throw new Error('LLM source note must include ' + field + '[]');\n  }\n  if (value.some((item) => typeof item !== 'string')) {\n    throw new Error('LLM source note ' + field + '[] must contain only strings');\n  }\n  return value\n    .map((item) => item.trim())\n    .filter(Boolean);\n}\nconst raw = $input.first().json;\nconst response = raw.body ?? raw;\nconst choice = Array.isArray(response.choices) ? response.choices[0] : undefined;\nconst content = choice?.message?.content ?? choice?.text;\nconst text = Array.isArray(content)\n  ? content.map((part) => typeof part === 'string' ? part : part?.text ?? '').join('').trim()\n  : typeof content === 'string'\n    ? content.trim()\n    : '';\nif (!text) {\n  throw new Error('OpenRouter source note response did not include JSON content');\n}\nconst proposedSourceNote = extractJson(text);\nassertRecord(proposedSourceNote, 'LLM source note');\nconst packet = $node['Build OpenRouter Source Note Request'].json;\nconst sourceNote = {\n  summary: stringField(proposedSourceNote, 'summary'),\n  raw_context: stringField(proposedSourceNote, 'raw_context'),\n  extracted_claims: stringArrayField(proposedSourceNote, 'extracted_claims', true),\n  open_questions: stringArrayField(proposedSourceNote, 'open_questions', false),\n  generated_by: 'openrouter',\n  model: response.model ?? packet.openrouter_request.model ?? undefined\n};\nconst sourcePayload = {\n  ...packet.source_payload,\n  content: '',\n  source_note: sourceNote\n};\nreturn [{\n  json: {\n    ...packet,\n    source_payload: sourcePayload,\n    source_note: sourceNote,\n    payload_b64: Buffer.from(JSON.stringify(sourcePayload), 'utf8').toString('base64'),\n    openrouter_source_note_meta: {\n      id: response.id ?? null,\n      model: response.model ?? packet.openrouter_request.model ?? null,\n      usage: response.usage ?? null,\n      finish_reason: choice?.finish_reason ?? null\n    }\n  }\n}];"
      },
      "id": "c0bef524-d050-47f7-a9b0-33387b2f6229",
      "name": "Parse LLM Source Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        16
      ],
      "notesInFlow": true,
      "notes": "Validates the mandatory cleaned source-note JSON. Invalid or empty responses fail ingestion before wiki mutation."
    },
    {
      "parameters": {
        "jsCode": "function truncate(value, maxLength) {\n  const text = String(value ?? '');\n  return text.length > maxLength ? text.slice(0, maxLength - 3) + '...' : text;\n}\nfunction count(values) {\n  return Array.isArray(values) ? values.length : 0;\n}\nfunction compactLines(values) {\n  return values.filter((value) => typeof value === 'string' && value.trim()).join(String.fromCharCode(10));\n}\nconst env = typeof $env !== 'undefined' ? $env : (globalThis.process?.env ?? {});\nconst chatId = String(env.TELEGRAM_CHAT_ID ?? '').trim();\nconst token = String(env.TELEGRAM_BOT_TOKEN ?? '').trim();\nconst missingConfig = [];\nif (!token) missingConfig.push('TELEGRAM_BOT_TOKEN');\nif (!chatId) missingConfig.push('TELEGRAM_CHAT_ID');\nconst source = $json.source_payload ?? {};\nconst baseline = $json.baseline_mutation_result ?? {};\nconst llm = $json.llm_mutation_result ?? null;\nconst guardrails = Array.isArray($json.llm_guardrail_rejections) ? $json.llm_guardrail_rejections : [];\nconst baselineCommit = $json.baseline_commit_result?.commit_sha ? 'Baseline commit: ' + $json.baseline_commit_result.commit_sha : '';\nconst llmCommit = $json.llm_commit_result?.commit_sha ? 'LLM commit: ' + $json.llm_commit_result.commit_sha : '';\nconst text = compactLines([\n  'KB ingest completed',\n  'Status: ' + ($json.status ?? 'unknown'),\n  'Source: ' + truncate(source.title || source.source_id || 'unknown', 500),\n  source.raw_path ? 'Raw: ' + source.raw_path : '',\n  'Baseline created/updated/skipped: ' + count(baseline.created) + '/' + count(baseline.updated) + '/' + count(baseline.skipped),\n  llm ? 'LLM created/updated/skipped: ' + count(llm.created) + '/' + count(llm.updated) + '/' + count(llm.skipped) : 'LLM changes: none',\n  guardrails.length ? 'Guardrail rejections: ' + guardrails.length : '',\n  baselineCommit,\n  llmCommit\n]);\nreturn [{\n  json: {\n    ...$json,\n    telegram_enabled: missingConfig.length === 0,\n    telegram_skip_reason: missingConfig.length ? 'Missing Telegram runtime configuration: ' + missingConfig.join(', ') : null,\n    telegram_bot_token: token,\n    telegram_ingest_message: {\n      chat_id: chatId,\n      text,\n      disable_web_page_preview: true\n    }\n  }\n}];"
      },
      "id": "158ba25d-c43d-484a-893d-aa5220202c64",
      "name": "Build Telegram Ingest Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7620,
        16
      ],
      "notesInFlow": true,
      "notes": "Builds a plain-text Telegram ingest log after the ingest response is available."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "6f2ae5ba-14b1-4bfa-92ce-57ce5127469d",
      "name": "Should Send Telegram Ingest Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7920,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_ingest_message) }}",
        "options": {}
      },
      "id": "e3e12c4d-2cfa-4ce0-80a1-250585a3dc94",
      "name": "Send Telegram Ingest Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8220,
        -96
      ],
      "notesInFlow": true,
      "notes": "Sends a plain-text Telegram message through Bot API. Requires TELEGRAM_BOT_TOKEN and a chat id.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const fallback = $node['Build Telegram Ingest Log'].json;\nconst telegramResponse = $json.ok !== undefined ? $json : null;\nreturn [{\n  json: {\n    ...fallback,\n    telegram_ingest_log_sent: Boolean(telegramResponse?.ok),\n    telegram_ingest_log_result: telegramResponse\n  }\n}];"
      },
      "id": "b38fe626-df5f-47d6-a1ad-b50707f49dc8",
      "name": "Finalize Ingest Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8520,
        16
      ]
    }
  ],
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Normalize Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Raw Event": {
      "main": [
        [
          {
            "node": "Encode Raw Event Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Raw Event Payload": {
      "main": [
        [
          {
            "node": "Run ingest-source.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run ingest-source.ts": {
      "main": [
        [
          {
            "node": "Parse Source Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Source Payload": {
      "main": [
        [
          {
            "node": "Build OpenRouter Source Note Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run plan-source-note.ts": {
      "main": [
        [
          {
            "node": "Parse Source Note Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Source Note Plan": {
      "main": [
        [
          {
            "node": "Run apply-update.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run apply-update.ts": {
      "main": [
        [
          {
            "node": "Parse Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mutation Result": {
      "main": [
        [
          {
            "node": "Run reindex.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run reindex.ts": {
      "main": [
        [
          {
            "node": "Parse Reindex Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reindex Result": {
      "main": [
        [
          {
            "node": "Run commit.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run commit.ts": {
      "main": [
        [
          {
            "node": "Parse Commit Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Commit Result": {
      "main": [
        [
          {
            "node": "Build OpenRouter Ingest Plan Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenRouter Ingest Plan Request": {
      "main": [
        [
          {
            "node": "Call OpenRouter Ingest Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter Ingest Planner": {
      "main": [
        [
          {
            "node": "Parse LLM Ingest Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Ingest Plan": {
      "main": [
        [
          {
            "node": "Should Apply LLM Plan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Apply LLM Plan?": {
      "main": [
        [
          {
            "node": "Prepare LLM Plan Application",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Ingest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Plan Application": {
      "main": [
        [
          {
            "node": "Run LLM apply-update.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run LLM apply-update.ts": {
      "main": [
        [
          {
            "node": "Parse LLM Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Mutation Result": {
      "main": [
        [
          {
            "node": "Run LLM reindex.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run LLM reindex.ts": {
      "main": [
        [
          {
            "node": "Parse LLM Reindex Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Reindex Result": {
      "main": [
        [
          {
            "node": "Build LLM Commit Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Commit Payload": {
      "main": [
        [
          {
            "node": "Run LLM commit.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run LLM commit.ts": {
      "main": [
        [
          {
            "node": "Parse LLM Commit Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Commit Result": {
      "main": [
        [
          {
            "node": "Build Ingest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenRouter Source Note Request": {
      "main": [
        [
          {
            "node": "Call OpenRouter Source Note Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter Source Note Cleaner": {
      "main": [
        [
          {
            "node": "Parse LLM Source Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Source Note": {
      "main": [
        [
          {
            "node": "Run plan-source-note.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingest Response": {
      "main": [
        [
          {
            "node": "Build Telegram Ingest Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Ingest Log": {
      "main": [
        [
          {
            "node": "Should Send Telegram Ingest Log?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram Ingest Log?": {
      "main": [
        [
          {
            "node": "Send Telegram Ingest Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Ingest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Ingest Log": {
      "main": [
        [
          {
            "node": "Finalize Ingest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
