n8n/workflows/kb-monthly-health-check.json
{
  "name": "KB - Monthly Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        -80
      ],
      "id": "04b71e88-d16f-4c9c-a4b4-6bb65f8555f0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "id": "122aecb4-b267-4418-a7de-5a5ee4bef275",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        112
      ]
    },
    {
      "parameters": {
        "command": "node /app/dist/tools/health-check.js --vault /data/vault",
        "executeOnce": true
      },
      "id": "e82002d2-ed1f-4b3f-9556-7619caf12f31",
      "name": "Run health-check.ts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -260,
        16
      ],
      "notesInFlow": true,
      "notes": "Runs health-check: validates wiki quality, reports broken links and resolution suggestions without applying broken-link fixes, writes reports to state/maintenance/, and emits Telegram notification fields."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout ?? '';\nif (!stdout.trim()) {\n  throw new Error('health-check.ts returned empty stdout');\n}\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "id": "048c44dd-1442-40ef-a3bd-c2b0ebd506e1",
      "name": "Parse Health Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.telegram_enabled) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "7a3c1b2d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
      "name": "Check Telegram Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.telegram_message) }}",
        "options": {}
      },
      "id": "9b8a7c6d-5e4f-3a2b-1c0d-ef9e8d7c6b5a",
      "name": "Send Telegram Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -80
      ],
      "notesInFlow": true,
      "notes": "Sends the health check report to Telegram via Bot API. Requires TELEGRAM_BOT_TOKEN and TELEGRAM_CHAT_ID env vars.",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run health-check.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run health-check.ts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run health-check.ts": {
      "main": [
        [
          {
            "node": "Parse Health Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Health Result": {
      "main": [
        [
          {
            "node": "Check Telegram Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Telegram Enabled": {
      "main": [
        [
          {
            "node": "Send Telegram Health Check",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
